@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Style+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191a22;
  --foreground: #fdf6ec;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lora, serif;
  color: #edebe7;
}
.cursor {
  display: inline-block;
  width: 0.9rem;
  height: 1.7rem;
  background-color: #44AF69;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #44AF69;
  }
}
.link {
  color: #44AF69;
  font-weight: 600;
}
.header {
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.header:hover {
  border-bottom: 2px solid #44AF69;
  cursor: pointer
}

.header:hover {
  border-bottom: 2px solid #44AF69;
  cursor: pointer;
}

/* Headings */
.markdownbody {
    font-family: Lora, serif;
    line-height: 1.6;
}

.markdownbody h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #3e3f4d;
  margin-bottom: 1rem;
  clear: both;
}

.markdownbody h2 {
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #3e3f4d;
  margin-bottom: 1rem;
  clear: both;
}

.markdownbody h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.markdownbody h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.markdownbody h5 {
  font-size: 1.1rem;
  font-weight: bold;
}



.markdownbody hr {
  border: 2px solid #3e3f4d;
  margin: 1rem 0;
}



/* list elements */

.markdownbody ul {
  list-style-type: square;
  padding-left: 2em;
  margin-bottom: 1rem;
}
 
.markdownbody ul ul {
  list-style-type: disc;
  padding-left: 2em;
}

.markdownbody ul ul ul {
  list-style-type: circle;
  padding-left: 2rem;
}

.markdownbody ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.markdownbody ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.markdownbody ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

.markdownbody a {
  color: #44AF69;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s;
  border-bottom: 2px solid #171A21;
}

.markdownbody a:hover {
  color: #2f7e4b;
  font-weight: 600;
  border-bottom: 2px solid #2f7e4b;
}

.linkClass {
  color: #44AF69;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s;
  border-bottom: 2px solid #171A21;
}

.linkClass:hover {
  color: #2f7e4b;
  font-weight: 600;
  border-bottom: 2px solid #2f7e4b;
}


.markdownbody p {
  margin-bottom: 1rem;
}

.markdownbody code {
  background-color: #292a36;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
}

.markdownbody pre code {
  background-color: #292a36;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
  width: 100%;
  overflow-x: auto;
  display: block;
  margin: 1rem;
}

.markdownbody blockquote {
  padding-left: 1rem;
  border-left: 4px solid #44AF69;
  color: #9fa3ab;
}

.markdownbody em {
  font-style: italic;
}

.markdownbody em em {
  font-style: bold;
}

.textName {
  color: #a5a3a0;
}

.markdownbody img {
  border-radius: 1rem;
}

.left-image {
  float: left;
  margin-right: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  max-width: 20svw;
}

.right-image {
  float: right;
  margin-left: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  max-width: 20svw;
}
.medium-right-image {
  float: right;
  margin-left: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  max-width: 15svw;
}

.small-right-image {
  float: right;
  margin-left: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  max-width: 10svw;
}

.center-image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.full-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.multiple-image {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 1rem;
}

.multiple-image img {
  max-width: 15svw;
}

.first {
  float: left;
  font-size: 3rem; 
  line-height: 3rem; 
  padding-right: 5px; 
  padding-left: 3px;
}

.logo {
  width: 2rem;
}
figcaption {
  text-align: center;
  color: #edebe786;
}

.spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.remark-highlight,
.remark-highlight pre,
.remark-highlight code,
pre[class*="language-"],
code[class*="language-"] {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  overflow: auto;
  line-height: 1.5;
  margin-bottom: 0.5rem !important;
}


code[class*="language-"] {
  margin-bottom: 1rem !important;
  padding: 1rem !important;
  background-color: #11151d !important;
  border-radius: 0.7rem !important;
  overflow-wrap: ;
}